---
import HtmlHead from '../../components/HtmlHead/index.astro';
import RefreshBanner from '../../components/RefreshBanner/index.astro';
import SiteFooter from '../../components/SiteFooter/index.astro';

import './base.css';

interface Props {
	title: string;
	htmlTitle?: string[];
	url: string;
	description: string;
	authors?: string[];
	tags?: string[];
	image?: string;
	imageAlt?: string;
	createdAt?: Date;
	updatedAt?: Date;
	hasFeed?: boolean;
	pageSchema?: string;
}

const {
	title,
	htmlTitle,
	description,
	authors,
	url,
	tags,
	image,
	imageAlt,
	createdAt,
	updatedAt,
	hasFeed = false,
	pageSchema = 'WebPage'
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en-US" itemscope itemtype={`https://schema.org/${pageSchema}`}>
	<HtmlHead
		{htmlTitle}
		{title}
		{url}
		{description}
		{authors}
		{tags}
		{image}
		{imageAlt}
		{createdAt}
		{updatedAt}
		{hasFeed}
	/>
	<body class:list={[{ 'h-entry': hasFeed }]}>
		<slot name="header"></slot>
		<main>
			<slot></slot>
		</main>

		<footer id="site-footer">
			<slot name="footer"></slot>
			<SiteFooter />
			<RefreshBanner />
		</footer>
	</body>
</html>
