---
import { getEntry } from 'astro:content';

import Avatar from '../Avatar/index.astro';

import './styles.css';

interface Props {
	author: string
}

const { author } = Astro.props;

const BLOG_URL = Astro.site?.href;

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const { data: { avatar, avatarAlt, name, pronouns }, render } = (await getEntry('authors', author))!;
const description = await render();
---
<div class="author-card" itemprop="author" itemscope itemtype="https://schema.org/Person">
	<a class="author-picture" href={`${BLOG_URL}authors/${author}`}>
		<Avatar image={avatar} imageAlt={avatarAlt} />
	</a>

	<div class="author-name">
		<a class="p-author h-card" rel="author" itemprop="url" href={`${BLOG_URL}authors/${author}`}>
			<h2 itemprop="name">{name}</h2>
		</a>
		{pronouns && (<small>{pronouns}</small>)}
	</div>

	<div class="author-bio">
		{/* eslint-disable-next-line astro/no-set-html-directive */}
		<Fragment set:html={description} />
	</div>
</div>
