---
import { getAuthor } from '../../utils/authors.js';
import Avatar from '../Avatar/index.astro';

import './styles.css';

interface Props {
	author: string
}

const { author } = Astro.props;

const BLOG_URL = Astro.site?.href;

const { data: { avatar, avatarAlt, name, pronouns }, render } = await getAuthor(author);
const { Content } = await render();
---
<div class="author-card" itemprop="author" itemscope itemtype="https://schema.org/Person">
	<a class="author-picture" href={`${BLOG_URL}authors/${author}`}>
		<Avatar image={avatar} imageAlt={avatarAlt} />
	</a>

	<div class="author-name">
		<a class="p-author h-card" rel="author" itemprop="url" href={`${BLOG_URL}authors/${author}`}>
			<h2 itemprop="name">{name}</h2>
		</a>
		{pronouns && (<small>{pronouns}</small>)}
	</div>

	<div class="author-bio">
		<Content />
	</div>
</div>
