---
import { Image } from 'astro:assets';

// Utils import
import { formatDate, slugify } from '../js/utils';

const { category, title, author, date, image } = Astro.props;
---

<header>
	<div class="container">
		<small>
			<a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
		</small>
		<h1 class="h2">{title}</h1>
		<p><a href={`/author/${slugify(author)}/`}>{author}</a> - {formatDate(date)}</p>
	</div>
	<!-- Had to update the Image component importing using the built in assets rather than from image/components -->
	<!-- Details about Image component, selecting the format is for reducing the memory usage -->
	<Image
		src={image.src}
		alt={image.alt}
		width="1200"
		height="600"
		quality={100}
		class="hero-image"
	/>
</header>
