---
import { Image } from 'astro:assets';
import logo from '../../assets/icons/logo.svg';
import hamburgerIcon from './assets/hamburger-menu.svg';
import './styles.css';
const BLOG_URL = Astro.site?.href;
---

<nav id="site-nav">
	<div id="nav-bar">
		<ul id="left-nav">
			<li>
				<a href={BLOG_URL}>
					<Image src={logo} alt="TorontoJS Logo!" height={70} width={70} id="logo-rounded" />
				</a>
			</li>
		</ul>
		<ul id="right-nav">
			<li class="mobile-screen">
				<button id="nav-menu-button"><Image src={hamburgerIcon} alt="Navbar Menu Icon" width={70} height={70} color="white" /></button>
			</li>
			<li>
				<a href={`${BLOG_URL}accessibility`}>
					Accessibility
				</a>
			</li>
			<li>
				<a href={`${BLOG_URL}license`}>
					License
				</a>
			</li>
			<li>
				<a href={`${BLOG_URL}about`}>
					About
				</a>
			</li>
		</ul>
	</div>
	<div id="mobile-menu">
		<ul>
			<li>
				<a href={`${BLOG_URL}accessibility`}>
					Accessibility
				</a>
			</li>
			<li>
				<a href={`${BLOG_URL}license`}>
					License
				</a>
			</li>
			<li>
				<a href={`${BLOG_URL}about`}>
					About
				</a>
			</li>
		</ul>
	</div>
	<script>
		const navMenuButton = document.getElementById('nav-menu-button');
		const mobileMenu = document.querySelector('#mobile-menu');
		navMenuButton?.addEventListener('click', () => {
			mobileMenu?.classList.toggle('active');
		});
	</script>
</nav>
