---
import { Image } from 'astro:assets';
import logo from '../../assets/images/logo_optimized.png';
import './styles.css';
const BLOG_URL = Astro.site?.href;
---
<nav id="site-nav">
	<ul>
		<li>
			<a href={BLOG_URL}>
				<Image src={logo} alt="Toronto Js Logo!" class="flex items-start" />
			</a>
		</li>
		<li>
			<a href={`${BLOG_URL}about`}>
				About
			</a>
		</li>
		<li>
			<a href={`${BLOG_URL}accessibility`}>
				Accessibility
			</a>
		</li>
		<li>
			<a href={`${BLOG_URL}license`}>
				License
			</a>
		</li>
	</ul>
</nav>
