---
import { Image } from 'astro:assets';
import logo from '../../assets/images/logo.png';
const BLOG_URL = Astro.site?.href;
---
<nav id="site-nav" class="p-2 bg-[#13110b] font-bold text-white w-[100%]" aria-label="Primary navigation">
	<ul class="flex gap-2 justify-center items-center p-3">
		<li>
			<a href={BLOG_URL}>
				<Image src={logo} alt="Toronto Js Logo!" height={90} width={70} class="flex items-start" />
			</a>
		</li>
		<li>
			<a href={`${BLOG_URL}about`} class="inline-flex items-center gap-4 break-words ml-3">
				About
			</a>
		</li>
		<li>
			<a href={`${BLOG_URL}blog`} class="inline-flex items-center gap-4 break-words ml-3">
				Blog
			</a>
		</li>
		<li>
			<a href={`${BLOG_URL}accessibility`} class="inline-flex items-center gap-4 break-words ml-3">
				Accessibility
			</a>
		</li>
		<li>
			<a href={`${BLOG_URL}license`} class="inline-flex items-center gap-4 break-words ml-3">
				License
			</a>
		</li>
	</ul>
</nav>
